<!-- Start Section Dashboard -->
<section class="dashboard">
  <div class="container">
    <div class="row gy-3">
      <h1 class="heading py-4 text-center">
        ACEM <span class="px-3">Core BackEnd App</span>
      </h1>
      <div class="tab-group">
        <mat-tab-group animationDuration="2000ms">
          <mat-tab label="Home">
            <!-- Start Cards Section  -->
             
            <!-- End Cards Section  -->
          </mat-tab>
          <mat-tab label="Budget">Content 2</mat-tab>
          <mat-tab label="Team">Content 3</mat-tab>
          <mat-tab label="Post">Content 4</mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</section>
<!-- End Section Dashboard -->
